<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'checkwork/css/login.css' %}">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="filter"></div>

        <div class="form-container">

            <form method="POST">

                <div class="input-block">
                    <label for="login">Логин</label>
                    <input id="login" type="text" name="login">
                </div>
                <div class="input-block">
                    <label for="password">Пароль</label>
                    <input id="password" type="password" name="password">
                </div>

                {% csrf_token %}
                <div class="button-block">
                    <button>Войти</button>
                </div>


            </form>

        </div>

        <div class="filter"></div>

    </div>
</body>
</html>