
<header class="main-header">
    <nav class="header-nav">
        <a href="{% url 'about' %}" class="header-btn about-btn">
            <i class="fas fa-info-circle"></i> О нас
        </a>
        <a href="{% url 'dashboard' %}" class="header-btn dashboard-btn">
            <i class="fas fa-user-circle"></i> Личный кабинет
        </a>
        <a href="{% url 'schedule' %}" class="header-btn schedule-btn">
            <i class="fas fa-calendar-alt"></i> Расписание
        </a>
        <a href="{% url 'statistic' %}" class="header-btn statistics-btn">
            <i class="fas fa-chart-bar"></i> Статистика
        </a>
    </nav>
</header>